<style>
    .box {
        border-radius: 5px;
    }

    .Registerbtn {
        border-radius: 5px;
        padding: 5px 25px;
        color: rgb(148, 79, 212);
        font-size: large;
        font-weight: bold;
        border: 1px solid rgb(124, 116, 134);
    }

    .Registerbtn:hover {
        background-color: rgb(179, 152, 214);
    }

    .formcontrol {
        border-radius: 5px;
        width: 575px;
        height: 40px;
        margin: 5px 5px 5px 10px;
        display: flex;
        border: 1px solid rgb(124, 116, 134);
    }

    .form-group input {
        padding: 0px 0px 0px 10px;
        font-size: larger;
    }
</style>
{% extends 'base.html' %}
{% block title %}
Employer Register
{% endblock %}

{% block content %}

<div class="col-lg-6 offset-3 mt-3">
    <div class="box">
        <h3 class="heading">New account for employers</h3>
        <p class="lead">Not our registered yet?</p>
        <p class="text-muted">If you have any questions, please feel free to <a href="#">contact us</a>,
            our customer service center is working for you 24/7.</p>
        {% if form.errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="id_{{ field.name }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" class="formcontrol" name="{{ field.name }}"
                    id="id_{{ field.name }}" placeholder="{{ field.field.widget.attrs.placeholder }}">
                {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="text-center">
                <button type="submit" class="Registerbtn"><i class="fa fa-user-md"></i> Register
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}