{% extends 'base.html' %}
{% load static %}
 {% load tag_exists %}
{% block title %}{{ title }}

{% endblock %} 

{% block content %}


    <div class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/profile.png');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10">
    				<div class="intro row text-center justify-content-center">
    					<div class="col-md-9">
    						<img class="img-fluid" src="images/undraw_work_time_lhoj.svg" alt="">
    					</div>
    					<h2 class="mb-4">Welcome to ApnaKam</h2>
    					<p>ApnaKam is the #1 job site in the world1 with over  unique visitors every month. ApnaKam strives to put job seekers first, giving them free access to search for jobs, post resumes, and research companies. Every day, we connect ApnaKam people to new opportunities.</p>
    					<p>At ApnaKam, our mission is to help people get jobs. We have more than 13,330 global employees passionately pursuing this purpose and improving the recruitment journey through real stories and data. We foster a collaborative workplace that strives to create the best experience for job seekers.</p>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

   	
{% endblock %}
